#ren2,#ren3,#ren4,#ren9,#ren10,#ren11,#ren12,
#ren14,#ren15,#ren16,
#ren166, #ren177, #ren188, #ren199,
#ren200, #ren211, #ren222, #ren233{
	width: 1003px; height: 661px;z-index:3;
}


#controles9{
	position: absolute;	z-index: 4;	left: 10px;	top: 462px;}
#guion38{
	position: absolute; top: 450px; left: 8px; z-index:3; opacity:1;}
#guion38b{
	position: absolute; top: 450px; left: 223px; z-index:3; opacity:1;}
#guion39{
	position: absolute; top: 478px; left: 8px; z-index:3; opacity:1;}
#guion39a{
	position: absolute; top: 478px; left: 304px; z-index:3; opacity:1;}
#guion40{
	position: absolute; top: 505px; left: 8px; z-index:3; opacity:1;}
#guion40a{
	position: absolute; top: 505px; left: 152px; z-index:3; opacity:1;}
#guion40b{
	position: absolute; top: 505px; left: 272px; z-index:3; opacity:1;}
#guion41{
	position: absolute; top: 535px; left: 8px; z-index:3; opacity:1;}
#guion41a{
	position: absolute; top: 535px; left: 131px; z-index:3; opacity:1;}
#guion42{
	position: absolute; top: 562px; left: 8px; z-index:3; opacity:1;}





#controles10{
	position: absolute;	z-index: 4;	left: 15px;	top: 400px;}
#guion43{
	position: absolute; top: 392px; left: 19px; z-index:3; opacity:1;}
#guion43a{
	position: absolute; top: 392px; left: 362px; z-index:3; opacity:1;}
#guion44{
	position: absolute; top: 422px; left: 20px; z-index:3; opacity:1;}
#guion45{
	position: absolute; top: 447px; left: 20px; z-index:3; opacity:1;}
#guion45a{
	position: absolute; top: 447px; left: 122px; z-index:3; opacity:1;}
#guion46{
	position: absolute; top: 475px; left: 20px; z-index:3; opacity:1;}
#guion46a{
	position: absolute; top: 475px; left: 122px; z-index:3; opacity:1;}
#guion47{
	position: absolute; top: 502px; left: 20px; z-index:3; opacity:1;}
#guion47a{
	position: absolute; top: 505px; left: 123px; z-index:3; opacity:1;}
#guion48{
	position: absolute; top: 533px; left: 20px; z-index:3; opacity:1;}
#guion48a{
	position: absolute; top: 531px; left: 287px; z-index:3; opacity:1;}
#guion49{
	position: absolute; top: 558px; left: 19px; z-index:3; opacity:1;}



#controles11{
	position: absolute;	z-index: 4;	left: 15px;	top: 405px;}
#guion50{
	position: absolute; top: 396px; left: 6px; z-index:3; opacity:1;}
#guion50a{
	position: absolute; top: 396px; left: 331px; z-index:3; opacity:1;}
#guion51{
	position: absolute; top: 426px; left: 8px; z-index:3; opacity:1;}
#guion52{
	position: absolute; top: 450px; left: 8px; z-index:3; opacity:1;}
#guion52a{
	position: absolute; top: 450px; left: 109px; z-index:3; opacity:1;}
#guion53{
	position: absolute; top: 478px; left: 8px; z-index:3; opacity:1;}
#guion53a{
	position: absolute; top: 478px; left: 109px; z-index:3; opacity:1;}
#guion54{
	position: absolute; top: 506px; left: 8px; z-index:3; opacity:1;}
#guion54a{
	position: absolute; top: 508px; left: 109px; z-index:3; opacity:1;}
#guion55{
	position: absolute; top: 536px; left: 8px; z-index:3; opacity:1;}
#guion55a{
	position: absolute; top: 534px; left: 274px; z-index:3; opacity:1;}
#guion56{
	position: absolute; top: 561px; left: 7px; z-index:3; opacity:1;}




#controles12{
	position: absolute;	z-index: 4;	left: 20px;	top: 410px;}
#guion57{
	position: absolute; top: 397px; left: 19px; z-index:3; opacity:1;}
#guion57a{
	position: absolute; top: 397px; left: 376px; z-index:3; opacity:1;}
#guion58{
	position: absolute; top: 427px; left: 20px; z-index:3; opacity:1;}
#guion59{
	position: absolute; top: 452px; left: 20px; z-index:3; opacity:1;}
#guion59a{
	position: absolute; top: 452px; left: 122px; z-index:3; opacity:1;}
#guion60{
	position: absolute; top: 479px; left: 20px; z-index:3; opacity:1;}
#guion60a{
	position: absolute; top: 479px; left: 122px; z-index:3; opacity:1;}
#guion61{
	position: absolute; top: 507px; left: 20px; z-index:3; opacity:1;}
#guion61a{
	position: absolute; top: 509px; left: 122px; z-index:3; opacity:1;}
#guion62{
	position: absolute; top: 537px; left: 20px; z-index:3; opacity:1;}
#guion62a{
	position: absolute; top: 536px; left: 287px; z-index:3; opacity:1;}
#guion63{
	position: absolute; top: 562px; left: 19px; z-index:3; opacity:1;}





#controles166{position: absolute; top: 407px;	left: 10px;	z-index: 4;}
#guion1_16{
	position: absolute; top: 397px; left: 7px; z-index:3; opacity:1;}
#guion1_166{
	position: absolute; top: 397px; left: 319px; z-index:3; opacity:1;}
#guion2_16{
	position: absolute; top: 427px; left: 7px; z-index:3; opacity:1;}
#guion3_16{
	position: absolute; top: 452px; left: 7px; z-index:3; opacity:1;}
#guion4_16{
	position: absolute; top: 480px; left: 7px; z-index:3; opacity:1;}
#guion5_16{
	position: absolute; top: 510px; left: 7px; z-index:3; opacity:1;}
#guion6_16{
	position: absolute; top: 538px; left: 7px; z-index:3; opacity:1;}
#guion7_16{
	position: absolute; top: 562px; left: 7px; z-index:3; opacity:1;}





#controles177{position: absolute; top: 408px;	left: 18px;	z-index: 4;}
#guion1_17{
	position: absolute; top: 396px; left: 19px; z-index:3; opacity:1;}
#guion2_17{
	position: absolute; top: 428px; left: 19px; z-index:3; opacity:1;}
#guion3_17{
	position: absolute; top: 453px; left: 20px; z-index:3; opacity:1;}
#guion4_17{
	position: absolute; top: 482px; left: 20px; z-index:3; opacity:1;}
#guion5_17{
	position: absolute; top: 510px; left: 20px; z-index:3; opacity:1;}
#guion6_17{
	position: absolute; top: 538px; left: 19px; z-index:3; opacity:1;}
#guion7_17{
	position: absolute; top: 566px; left: 19px; z-index:3; opacity:1;}





#controles188{position: absolute; top: 378px;	left: 9px;	z-index: 4;}
#guion1_18{
	position: absolute; top: 371px; left: 8px; z-index:3; opacity:1;}
#guion2_18{
	position: absolute; top: 399px; left: 8px; z-index:3; opacity:1;}
#guion3_18{
	position: absolute; top: 427px; left: 8px; z-index:3; opacity:1;}
#guion4_18{
	position: absolute; top: 453px; left: 8px; z-index:3; opacity:1;}
#guion5_18{
	position: absolute; top: 482px; left: 8px; z-index:3; opacity:1;}
#guion6_18{
	position: absolute; top: 509px; left: 8px; z-index:3; opacity:1;}
#guion7_18{
	position: absolute; top: 537px; left: 8px; z-index:3; opacity:1;}
#guion8_18{
	position: absolute; top: 564px; left: 8px; z-index:3; opacity:1;}




#controles199{position: absolute; top: 490px;	left: 20px;	z-index: 4;}
#guion1_19{
	position: absolute; top: 481px; left: 20px; z-index:3; opacity:1;}
#guion2_19{
	position: absolute; top: 509px; left: 20px; z-index:3; opacity:1;}
#guion3_19{
	position: absolute; top: 536px; left: 20px; z-index:3; opacity:1;}
#guion4_19{
	position: absolute; top: 564px; left: 20px; z-index:3; opacity:1;}





#pantallaizq, #plantillaizq2, #plantillaizq3, #plantillaizq4{
	position: absolute;
	z-index: 2;

}


#tp4,#tp6,#tp11,#tp13,#tp15,#tp17,#tp19,
#tp21,#tp23,#tp25,#tp27,#tp29,#tp31,#tp33,#tp35,#tp37,
#tp39,#tp41,#tp43,#tp45,#tp47,#tp49,#tp51,#tp53,
#tp166, #tp177, #tp188, #tp199,
#tp200, #tp211, #tp222, #tp233 {
	position: absolute;
	z-index: 0;
	


}

#tp5,#tp7,#tp12,#tp14,#tp16,#tp18,#tp20,
#tp22,#tp24,#tp26,#tp28,#tp30,#tp32,#tp34,#tp36,
#tp38,#tp40,#tp42,#tp44,#tp46,#tp48,#tp50,#tp52,#tp54 {
	position: absolute;
	z-index: 0;

}

#plantillader, #plantillader2, #plantillader3, #plantillader4{
	position: absolute;
	z-index: 3;
	
	
}

